<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="Find Your Favorite Restaurant Here!" />
    <link rel="shortcut icon" href="favicon.png" />
    <title>Restaurant Catalogue</title>
  </head>
  <body>
    <header class="app-header">
      <a href="#" class="brand-name">Hunger Apps</a>
    </header>

    <main class="app-main">
      <section class="app-main__hero">
        <h1 class="app-main__hero__content">
          Find Your Favorite Restaurant Here!
        </h1>
      </section>

      <section class="app-main__content">
        <h2>Available Restaurants</h2>

        <div id="restaurantsList" class="app-main__restaurants-list"></div>
      </section>
    </main>
    <footer>
      <p>&copy; 2022 Hunger Apps</p>
    </footer>
  </body>
</html>
